html {
    height: 100%;
}
body {
    height: 100%;
    background: url('../images/fondo2.png');
    background-size: cover;
}
.row{
    height: 100%;
}
.container-fluid {
    height: 100%;
}

.logo-container {
    width: 100%;
    display: block;
    height: 50%;
    align-items: center;
    display: inline-flex;
}

.logo-left > img {
    width: 40%;
}
.logo-right > img {
    width: 40%;
}
.logo-left {
    width: 40%;
    justify-content: flex-end;
}

.logo-right {
    width: 40%;
    justify-content: flex-start;
}

/* .logo-container {
    width: 100%;
    display: block;
    height: 50%;
    align-items: center;
    display: inline-flex;
}



.logo-right {
    width: 20%;
} */
